<section>
   <div class="player" id="{{id}}" data-title='{{title}}' data-description='{{description}}' data-img='{{img}}'>
   <iframe src="https://www.youtube.com/embed/{{id}}"
   width="600" height="338" frameborder="0" allowfullscreen></iframe>
   </div>
   <a type="button"  class="btn btn-default add" href="#/search/{{query}}/{{id}}/add-to-playlist">Add to playlist</a>
</section>